<!DOCTYPE html>
<html>
  <head>
    <title>47prefectures</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <% javascript_importmap_tags %>
    <%= javascript_include_tag "turbo", type: "module" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  </head>

  <body>
    <header class="header">
      <div class="inner">
        <div class="nav">
          <div class="nav__left">
            <%= link_to '47prefectures', root_path, class: :logo %>
          </div>

          <% if user_signed_in? %>
            <div class="nav__right">
              <%= link_to "マイページ", user_path(current_user.id), class: :nav__btn %>
              <%= link_to "ログアウト", destroy_user_session_path, data: {"turbo-method": :delete}, class: :nav__logout %>
            </div> 
          <% else %>
            <div class="nav__right">
              <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
              <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
            </div>
          <% end %>

        </div>
      </div>
    </header>
    <%= yield %>
    <footer class="footer">
      <p class="copyright">Copyright © 47prefectures All rights reserved.</p>
    </footer>
  </body>
</html>
